.userProfile {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .profilePic {
        width: 37px;
        height: 37px;
        border-radius: 45px;
        img {
            object-fit: cover;
        }
    }

    .personName {
        padding-left: 7px;
        
    }

    .addButton {
        font-size: small;
        margin-left: auto; 
        margin-right: 0;
        background-color: rgb(122, 199, 122);
        padding: 0px 4px;
        border-radius: 5px;
    }
    
    
    
}

.userProfile:hover {
    background-color: rgb(216, 221, 160);
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 5px -2px rgba(0,0,0,0.75);
}